/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of reset, time for styles 😸 */
img {
  max-width: 100%;
  height: auto;
}


/*-----                   -----top navigation header */

.topheader {
  max-width: 100%;
  /* height: 60px; */
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.alohalogo {
  width: 140px;
  padding-left: 20px;
  padding-bottom: 30px;
  order: 1;
  flex: 1 1 15%;
}

.carticon-wrapper {
  order: 3;
  flex: 1 1 15%;
  text-align: right;
}

.navwrap {
  order: 2;
  flex: 1 1 70%;
}

.carticon {
  width: 55px;
  padding-right: 30px;
  padding-bottom: 20px;
}


/* TODO move the media query to the bottom of the stylesheet */

@media (max-width: 600px) {
  .topheader {
    flex-flow: row wrap;
  }
  .alohalogo {
    order: 1;
  }
  .carticon-wrapper {
    order: 2;
  }
  .navwrap {
    order: 3;
  }
}


/*-----                    -----navigation bar */

.nav {
  display: flex;
  justify-content: space-around;
  /* width: 450px; */
  list-style-type: none;
  font-weight: 300;
  font-family: 'raleway', sans-serif;
  padding-bottom: 20px;
  /* padding-right: 60px; */
}

.nav a {
  padding-right: 30px;
  text-decoration: none;
  color: #e2574c;
  font-size: 16px;
}


/* @media (min-width: 600px) and (max-width:1240px) {
  .nav {
    width: 100%;
  } */


/*-----                     -----top banner and text */

.banner1 {
  background: linear-gradient( rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25)), url(images/banner-girl.png) no-repeat center 60px, url(images/flower-bkgd.jpg) center;
  display: flex;
  background-size: cover, 250px 580px, cover;
  height: 530px;
  align-items: center;
  flex-direction: column;
  color: #fff;
}

.banner1 p:first-child {
  font-size: 2vw;
  padding-top: 190px;
  font-family: 'raleway', sans-serif;
  font-weight: 200;
}

.banner1 p:last-child {
  font-size: 5vw;
}


/*-----                    -----description */

.hcstylescontent {
  text-align: center;
  padding: 20px 0;
  color: #2d2d2d;
}

h2 {
  font-size: 30px;
  font-style: italic;
  font-weight: normal;
}

.bold1 {
  font-weight: 700;
  font-style: normal;
}

.description1 {
  text-align: center;
  font-size: 16px;
  font-family: 'raleway-light', sans-serif;
  font-weight: 100;
}

.description2 {
  text-align: center;
  font-size: 16px;
  padding-bottom: 20px;
  font-family: 'raleway-light', sans-serif;
  font-weight: 100;
}


/*-----                   -----category grid */

.category-grid {
  display: flex;
  /* flex-wrap: wrap; */
  flex-flow: row nowrap;
}

.category-grid a {
  font-weight: bold;
  font-style: normal;
  font-weight: 100;
  font-size: 2vw;
  color: #fff;
  text-decoration: none;
  font-family: 'raleway', sans-serif;
}

.category-grid .block-large {
  display: flex;
  padding: 0 8px 8px 0;
}

.category-grid .block-small {
  display: flex;
  padding: 0 8px 8px 0;
}

.category-grid .imgmens {
  background: linear-gradient( rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%), url("images/mens-category.jpg") center / cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 250px;
}

.category-grid .imgtrends {
  background: linear-gradient( rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%), url("images/trends-category.jpg") center / cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 250px;
}

.category-grid .imgglasses {
  background: linear-gradient( rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%), url("images/glasses-category.jpg") center / cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 332px;
  height: 250px;
}

.category-grid .imgsale {
  background: linear-gradient( rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%), url("images/sale-category.jpg") center / cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 250px;
}

.category-grid .imgbags {
  background: linear-gradient( rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%), url("images/bags-category.jpg") center / cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 292px;
  height: 250px;
}

.category-grid .imgwomens {
  background: linear-gradient( rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%), url("images/womens-category.jpg") center / cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 640px;
  height: 250px;
}


/*-----                    -----product scroll and flickity */

h3 {
  font-size: 30px;
  font-style: italic;
  font-weight: normal;
  color: #2d2d2d;
  padding-top: 20px;
}

.bold2 {
  font-weight: 700;
  font-style: normal;
}

.productscroll {
  text-align: center;
}

.main-carousel {
  padding-top: 20px;
  padding-bottom: 30px;
}

.carousel-cell {
  width: 25%;
  height: 450px;
}

.carousel-cell p:nth-child(2),
p:nth-child(4) {
  color: #969696;
  font-size: 1.1vw;
  font-family: 'Raleway-Light', sans-serif;
}

.carousel-cell p:nth-child(3) {
  color: #e2574c;
  font-size: 1.6vw;
  font-family: 'Raleway-medium', sans-serif;
}


/*-----                    -----wave banner and text */

.wavebanner {
  background: linear-gradient( rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), url("images/wave-bkgd.jpg") no-repeat center 90%;
  height: 260px;
  color: #fff;
  text-align: center;
}

.bold3 {
  font-weight: 700;
  font-style: normal;
}

h4 {
  font-style: italic;
  font-weight: normal;
  font-size: 30px;
  padding-top: 40px;
}

.description3,
.description4 {
  font-family: 'raleway', sans-serif;
  font-weight: 100;
}


/*-----                    -----subscribe area */

.subscribearea {
  display: flex;
  padding-top: 12px;
  justify-content: center;
}

.subscribe-input {
  border: none;
  position: absolute;
  border-radius: 35px;
  width: 30%;
  height: 39px;
  font-size: 13px;
}

.subscribearea input:first-child {
  padding-left: 20px;
}

.subscribearea input:last-child {
  border: none;
  position: relative;
  background: #e2574c;
  border-radius: 35px;
  width: 120px;
  height: 35px;
  font-size: 13px;
  color: #fff;
  left: 139px;
  top: 3px;
}


/*-----                    -----footer */

footer {
  display: flex;
  justify-content: space-between;
  background-color: #242424;
  height: 250px;
  margin-top: 8px;
}


/*-----                    -----footer left */

.footerleft {
  text-align: left;
  padding-top: 40px;
  padding-left: 30px;
}

.copyright,
.poweredby,
.contactinfo,
.email {
  color: #fff;
}

.address {
  color: #969696;
}


/*-----                    -----footer right */

.footerright {
  display: flex;
  align-items: center;
  padding-right: 90px;
}

.footerright2 a {
  text-decoration: none;
  color: #fff;
  padding-top: 10px;
  padding-right: 10px;
}

.socialmedia {
  list-style-type: none;
  font-family: 'raleway', sans-serif;
  font-weight: 100;
  font-size: 1.1vw;
}