/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
/* */  RESET and FONTS 

  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed, 
  figure, figcaption, footer, header, hgroup, 
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure, 
  footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  /* End of reset, time for styles 😸 */
  
   /* Fonts */
  @font-face {
    font-family: 
    'raleway';
    src: 
    url('fonts/more-fonts/raleway-light-webfont.eot');
    src: 
    url('fonts/more-fonts/raleway-light-webfont.eot?#iefix')
    format('embedded-opentype'),
    url('fonts/more-fonts/raleway-light-webfont.woff2')
    format('woff2'),
    url('fonts/more-fonts/raleway-light-webfont.ttf')
    format('truetype'),
    url('fonts/more-fonts/raleway-light-webfont.svg#ralewaylight')
    format('svg');
    font-weight: 
    300;
    font-style: 
    normal;
    
    }
    
    
    
    
    @font-face {
    font-family: 
    'raleway';
    src: 
    url('fonts/more-fonts/raleway-lightitalic-webfont.eot');
    src: 
    url('fonts/more-fonts/raleway-lightitalic-webfont.eot?#iefix')
    format('embedded-opentype'),
    url('fonts/more-fonts/raleway-lightitalic-webfont.woff2')
    format('woff2'),
    url('fonts/more-fonts/raleway-lightitalic-webfont.ttf')
    format('truetype'),
    url('fonts/more-fonts/raleway-lightitalic-webfont.svg#ralewaylight_italic')
    format('svg');
    font-weight: 
    300;
    font-style: 
    italic;
    
    }
    
    
    
    
    @font-face {
    font-family: 
    'raleway';
    src: 
    url('fonts/more-fonts/raleway-medium-webfont.eot');
    src: 
    url('fonts/more-fonts/raleway-medium-webfont.eot?#iefix')
    format('embedded-opentype'),
    url('fonts/more-fonts/raleway-medium-webfont.woff2')
    format('woff2'),
    url('fonts/more-fonts/raleway-medium-webfont.ttf')
    format('truetype'),
    url('fonts/more-fonts/raleway-medium-webfont.svg#ralewaymedium')
    format('svg');
    font-weight: 
    500;
    font-style: 
    normal;
    
    }
    
    
    
    
    @font-face {
    font-family: 
    'raleway';
    src: 
    url('fonts/more-fonts/raleway-mediumitalic-webfont.eot');
    src: 
    url('fonts/more-fonts/raleway-mediumitalic-webfont.eot?#iefix')
    format('embedded-opentype'),
    url('fonts/more-fonts/raleway-mediumitalic-webfont.woff2')
    format('woff2'),
    url('fonts/more-fonts/raleway-mediumitalic-webfont.ttf')
    format('truetype'),
    url('fonts/more-fonts/raleway-mediumitalic-webfont.svg#ralewaymedium_italic')
    format('svg');
    font-weight: 
    500;
    font-style: 
    italic;
    
    }
    @font-face {
      font-family: 
      'playfair';
      src: 
      url('fonts/more-fonts/playfairdisplay-bolditalic-webfont.eot');
      src: 
      url('fonts/more-fonts/playfairdisplay-bolditalic-webfont.eot?#iefix')
      format('embedded-opentype'),
      url('fonts/more-fonts/playfairdisplay-bolditalic-webfont.woff2')
      format('woff2'),
      url('fonts/more-fonts/playfairdisplay-bolditalic-webfont.ttf')
      format('truetype'),
      url('fonts/more-fonts/playfairdisplay-bolditalic-webfont.svg#playfair_displaybold_italic')
      format('svg');
      font-weight: 
      bold;
      font-style: 
      italic;
      
      }
      
      
      
      
      @font-face {
      font-family: 
      'playfair';
      src: 
      url('fonts/more-fonts/playfairdisplay-italic-webfont.eot');
      src: 
      url('fonts/more-fonts/playfairdisplay-italic-webfont.eot?#iefix')
      format('embedded-opentype'),
      url('fonts/more-fonts/playfairdisplay-italic-webfont.woff2')
      format('woff2'),
      url('fonts/more-fonts/playfairdisplay-italic-webfont.ttf')
      format('truetype'),
      url('fonts/more-fonts/playfairdisplay-italic-webfont.svg#playfair_displayitalic')
      format('svg');
      font-weight: 
      normal;
      font-style: 
      italic;
      
      }
      
      @font-face {
      font-family: 
      'playfair';
      src: 
      url('fonts/more-fonts/playfairdisplay-regular-webfont.eot');
      src: 
      url('fonts/more-fonts/playfairdisplay-regular-webfont.eot?#iefix')
      format('embedded-opentype'),
      url('fonts/more-fonts/playfairdisplay-regular-webfont.woff2')
      format('woff2'),
      url('fonts/more-fonts/playfairdisplay-regular-webfont.ttf')
      format('truetype'),
      url('fonts/more-fonts/playfairdisplay-regular-webfont.svg#playfair_displayregular')
      format('svg');
      font-weight: 
      normal;
      font-style: 
      normal;
      
      }
      
      
      
      
      @font-face {
      font-family: 
      'playfair';
      src: 
      url('fonts/more-fonts/playfairdisplay-bold-webfont.eot');
      src: 
      url('fonts/more-fonts/playfairdisplay-bold-webfont.eot?#iefix')
      format('embedded-opentype'),
      url('fonts/more-fonts/playfairdisplay-bold-webfont.woff2')
      format('woff2'),
      url('fonts/more-fonts/playfairdisplay-bold-webfont.ttf')
      format('truetype'),
      url('fonts/more-fonts/playfairdisplay-bold-webfont.svg#playfair_displaybold')
      format('svg');
      font-weight: 
      bold;
      font-style: 
      normal;
      
      }

/*-----                   -----top navigation header */

* {
  box-sizing: border-box;
}
html {
  font-size: 14px;
}
img {
  max-width: 100%;
  height: auto;
}

body {
  max-width: 100%;
}
.topheader {
  max-width: 100%;
  /* height: 90px; */
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.alohalogo {
  padding-left: 10px;
  padding-bottom: 10px;
  order: 1;
  flex: 0 1 50%;
}

.carticon-wrapper {
  order: 2;
  flex: 0 1 50%;
  text-align: right;
  padding-right: 10px;
}

.navwrap {
  order: 3;
  flex: 1 1 100%;
}

.carticon {
  width: 50px;
}

.nav {
  display: flex;
  flex-flow: row wrap;
  border-top: black 1px solid;
  padding-top: 10px;
  justify-content: center;
  list-style-type: none;
  font-weight: 300;
  font-family: 'raleway', sans-serif;
  

  /* padding-right: 60px; */
}

.nav a {
  margin: 1.0rem;
  text-decoration: none;
  color: #e2574c;
  font-size: 100%;
}

/*-----                     -----top banner and text */

.banner1 {
  background: linear-gradient( rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25)), url(images/banner-girl.png) no-repeat center 60px, url(images/flower-bkgd.jpg) center;
  display: flex;
  background-size: cover, auto 110%, cover;
  height: 530px;
  align-items: center;
  flex-direction: column;
  color: #fff;
}

.banner1 p:first-child {
  font-size: 150%;
  padding-top: 200px;
  font-family: 'raleway', sans-serif;
  font-weight: 200;
}

.banner1 p:last-child {
  font-size: 280%;
  padding-top: 30px;
  text-align: center;
}

/*-----                    -----description */

.hcstylescontent {
  text-align: center;
  padding: 50px 0;
  color: #2d2d2d;
}

h2 {
  font-size: 200%;
  font-style: italic;
  font-weight: normal;
}

.bold1 {
  font-weight: 700;
  font-style: normal;
}

.description1 {
  text-align: center;
  font-size: 100%;
  font-family: 'raleway-light', sans-serif;
  font-weight: 100;
  padding-top: 30px;
}

.description2 {
  text-align: center;
  font-size: 100%;
  font-family: 'raleway-light', sans-serif;
  font-weight: 100;
}

/*-----                   -----category grid */

.category-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 100%;
}

.category-grid .block-large {
  width: 100%;
  border: 2px solid white;
  box-sizing: border-box;
}
.category-grid .block-small {
  width: 50%;
  border: 2px solid white;
  box-sizing: border-box;
}

.category-grid a {
  font-weight: bold;
  font-style: normal;
  font-weight: 100;
  font-size: 150%;
  color: #fff;
  text-decoration: none;
  font-family: 'raleway', sans-serif;
}

.category-grid .imgmens {
  background: linear-gradient( rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%), url("images/mens-category.jpg") center / cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
}

.category-grid .imgtrends {
  background: linear-gradient( rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%), url("images/trends-category.jpg") center / cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
}

.category-grid .imgglasses {
  background: linear-gradient( rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%), url("images/glasses-category.jpg") center / cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
}

.category-grid .imgsale {
  background: linear-gradient( rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%), url("images/sale-category.jpg") center / cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
}

.category-grid .imgbags {
  background: linear-gradient( rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%), url("images/bags-category.jpg") center / cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
}

.category-grid .imgwomens {
  background: linear-gradient( rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%), url("images/womens-category.jpg") center / cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
}

/*-----                    -----product scroll and flickity */

h3 {
  font-size: 30px;
  font-style: italic;
  font-weight: normal;
  color: #2d2d2d;
  padding-top: 40px;
}

.bold2 {
  font-weight: 700;
  font-style: normal;
}

.productscroll {
  text-align: center;
}

.main-carousel {
  padding-top: 60px;
  padding-bottom: 40px;
}

.carousel-cell {
  width: 100%;
  height: 450px;
}

.carousel-cell p:nth-child(2),
p:nth-child(4) {
  color: #969696;
  font-size: 100%;
  font-family: 'Raleway-Light', sans-serif;
  padding-top: 20px;
}

.carousel-cell p:nth-child(3) {
  color: #e2574c;
  font-size: 100%;
  font-family: 'Raleway-medium', sans-serif;
  padding-top: 20px;
}

/*-----                    -----wave banner and text */

.wavebanner {
  background: linear-gradient( rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), url("images/wave-bkgd.jpg") no-repeat center 95%;
  height: 280px;
  color: #fff;
  text-align: center;
  padding-top: 10px;
  margin-top: 70px;
}

.bold3 {
  font-weight: 700;
  font-style: normal;
}

h4 {
  font-style: italic;
  font-weight: normal;
  font-size: 200%;
  padding-top: 30px;
}

.description3 {
  padding-top: 30px;
}

.description3, .description4 {
  font-family: 'raleway', sans-serif;
  font-weight: 100;
  font-size: 95%;
}

/*-----                    -----subscribe area */

.subscribearea {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  max-width: 75%; 
}

.subscribe-input {
  border: none;
  position: absolute;
  border-radius: 35px;
  height: 40px;
  font-size: 13px;
  width: 65%;
}

.subscribearea input:first-child {
  padding-left: 20px;
}

.subscribearea input:last-child {
  border: none;
  position: relative;
  background: #e2574c;
  height: 35px;
  border-radius: 35px;
  font-size: 90%;
  left: 140px;
  top: 2px;
  color: #fff;
 
}

/*-----                    -----footer */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #242424;
  height: 270px;
  margin-top: 8px;
}

/*-----                    -----footer left */

.footerleft {
  text-align: center;
  padding-top: 40px;
  padding-left: 30px;
}

.copyright,
.poweredby,
.contactinfo,
.email {
  color: #fff;
}

.copyright {
  padding-top: 20px;
}

.poweredby {
  padding-top: 10px;
}

.contactinfo {
  padding-top: 30px;
}

.address {
  color: #969696;
  padding-top: 30px;
}

.address p:last-child {
  padding-top: 10px;
}

/*-----                    -----footer right */

.footerright {
  display: flex;
  list-style-type: none;
  order: 4;
  font-family: 'raleway', sans-serif;
  font-weight: 100;
  font-size: 15px;
}

.footerright2 a {
  text-decoration: none;
  color: #fff;
  padding-top: 10px;
  padding-right: 10px;
}

.footerright2 a:nth-child(2) {
  display: none;
}
#socialmedia {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  margin: 1.0rem;
  width: 100%;
  justify-content: space-between;
}
  


                          /*----- media  -------*/
@media (min-width: 600px) {
  html {
    font-size: 16px;
  }
  .topheader {
    flex-flow: row nowrap;
  }
  .alohalogo {
    order: 1;
    width: 70px;
    flex: 1 1 15%;
  }
  .carticon-wrapper {
    order: 3;
    flex: 1 1 15%;
    padding-right: 20px;
  }
  .carticon {
    width: 60px;
  }
  .nav {
    border-top: hidden;
  }
  .nav a {
    padding-bottom: 20px;
  }
  .navwrap {
    order: 2;
    flex: 1 1 70%;
  }
  .banner1 p:first-child {
    font-size: 150%;
  }
  .banner1 p:last-child {
    font-size: 350%;
  }
  h2 {
    font-size: 200%;
  }
  .description1 {
    font-size: 100%;
    padding-top: 30px;
  }
  
  .description2 {
    font-size: 100%;
    padding-top: 15px;
    padding-bottom: 20px;
  }
  .category-grid {
    flex-flow: row wrap;
  }
  .category-grid a {
    font-size: 150%;
  }
  .category-grid .block-large {
    width: 50%;
    border: 2px solid white;
    box-sizing: border-box;
  }
  .category-grid .block-small {
    width: 25%;
    border: 2px solid white;
    box-sizing: border-box;
  }
  .carousel-cell {
    width: 25%;
  }
  .carousel-cell p:nth-child(2),
  p:nth-child(4) {
    font-size: 100%;
  }
  .carousel-cell p:nth-child(3) {
    font-size: 120%;
  }
  h4 {
    font-size: 250%;
  }
  .description3 {
    padding-top: 30px;
  }

  .description4 {
    padding-top:  20px;
  }
  .subscribearea {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    max-width: 75%; 
  }
  
  .subscribe-input {
    border: none;
    position: absolute;
    border-radius: 35px;
    height: 41px;
    font-size: 13px;
    width: 32%;
  }
  
  .subscribearea input:first-child {
    padding-left: 20px;
  }
  
  .subscribearea input:last-child {
    border: none;
    position: relative;
    background: #e2574c;
    border-radius: 35px;
    width: 145%;
    height: 34px;
    font-size: 13px;
    color: #fff;
    left: 296px;
    top: 4px;
  }
  
  footer {
    flex-flow: row wrap;
    justify-content: space-between;
  }
  .footerleft {
    order: 1;
    text-align: left;
  }
  .footerright {
    display: flex;
    order: 2;
    padding-right: 90px;
    align-items: center;
  }
  .footerright2 a:nth-child(2) {
    /* flex: row; */
    display: initial;
  }
  #socialmedia {
    flex-flow: column wrap;
  }

}










