

h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
.links {
  list-style-type: none;
  text-align: center;
}
li{
  display: inline-block;
  margin: 15px;
} 
.logo {
  float: left;
  height: 50px
 }
.icon {
  height:40px;
  float: right;
}
.girl {
  width: 170px;
  height: auto;
  position: absolute;
  right: 550px;
  bottom: 110px;
}
header {
 height: 500px;
 color: white;
 background-image: url("images/flower-bkgd.jpg")
 }
 .container1 {
  text-align: center;
}
.skd {
  text-align: center;
  margin: 50px;
}
.cbs {
  text-align: center;
}
.sd {
  text-align: center;
}
.bhb {
  text-align: center;
}
h3 {
  text-align: center;
  margin: 50px;
}
h4 {
  display: inline-block;
}
.bottomtext {
  text-align: center;
}
.footer1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.footer2 {
  display: flex;
  flex-direction: column;
  float: right;

}